[Desktop Entry]
Name=App Center
GenericName=Software Center
Comment=Browse, install and remove Flatpak applications
Exec=flufflinux-appcenter %U
Icon=flufflinux-appcenter
Terminal=false
Type=Application
OnlyShowIn=KDE;
Categories=Qt;KDE;System;PackageManager;
Keywords=software;apps;applications;catalog;store;
SingleMainWindow=true
StartupNotify=true
MimeType=application/vnd.flatpak;application/vnd.flatpak.ref;application/vnd.flatpak.repo;x-scheme-handler/flatpak;x-scheme-handler/flatpak+https;
